@import './common';
@import './example';

html {
  scroll-behavior: smooth;
}

header {
  background-color: #4962bd;
  height: 60px;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  position: sticky;
  top: 0;

  .search-form {
    background-color: white;
    display: flex;
    overflow: hidden;
    border-radius: 3px;
    font-size: 1rem;

    input {
      border: none;
      text-indent: 10px;
      width: 250px;
      outline: none;
    }

    button[type='submit'] {
      border: none;
      width: 40px;

      &:hover {
        opacity: 0.8;
        cursor: pointer;

        svg {
          scale: 1.25;
        }
      }
    }
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

// color for hover header #ced4ed;
.gallery {
  width: 100%;
  display: grid;
  gap: 30px;
  padding: 30px;
  grid-template-columns: 1fr;

  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (min-width: 1500px) {
    grid-template-columns: repeat(4, 1fr);
  }

  .gallery-status {
    width: 100%;
    text-align: center;
    color: gray;
    display: block;
    grid-column: 1 / span 4;
  }

  .photo-card {
    animation: fade-in 2s ease-in-out;
    display: flex;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    color: inherit; /* blue colors for links too */
    text-decoration: inherit;
    flex-direction: column;
    border-radius: 3px;
    overflow: hidden;

    img {
      max-width: 100%;
      flex: 1;
      min-height: 200px;
    }

    .info {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;
      gap: 10px;
      flex-wrap: wrap;
      text-align: center;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
        sans-serif;

      p {
        margin: 0;

        :not(last-child) {
          border-right: 1px solid #ced4ed;
          margin-right: 10px;
          padding-right: 10px;
        }
      }
    }
  }
}
